parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    tmpDir: var/cache/phpstan
    excludePaths:
        - tests/CodeSniffer/Sniffs/Commenting/FunctionCommentSniff.php
        - config/packages/monolog.php
services:
   -
       class: CleanStructure\Tests\Architecture\CleanStructureTest
       tags:
           - phpat.test
   -
       class: CleanStructure\Tests\Architecture\CleanArchitectureTest
       tags:
           - phpat.test
